.li-body {
    background-color: beige;
}
.li-main {
    margin-top: 13rem;
    max-width: 350px;
}
.li-title {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
input[type=text],
input[type=password],
input[type=text]:enabled,
input[type=password]:enabled {
    background-color: beige;
    border: none;
    border-bottom: 1px solid lightgray;
    box-shadow: none;
    font-size: 1.5rem;
}
button[type=submit] {
    font-size: 1.25rem;
}
label {
    font-size: 1.5rem;
}
.li-btn {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
@media only screen and (min-width: 1023px) {
    .li-main {
        margin-top: 16rem;
    }
}
@media only screen and (min-width: 1441px) {
    .li-main {
        margin-top: 21rem;
    }
}