:root {
    --primary-color: rgba(13, 110, 139, 0.65);
    --btn-primary-color: rgba(13, 110, 139, 0.85);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background-color: beige;
}
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}
.btn {
    display: inline-block;
    border: none;
    background-color: var(--btn-primary-color);
    color: #fff;
    padding: 0.5rem 1rem;
    margin-top: .75rem;
    text-decoration: none;
    transition: opacity .3s ease-in;
}
.btn:hover {
    opacity: 0.5;
    text-decoration: none;
}
.dash-todo-title {
    text-align: center;
    font-size: 3.25rem;
    padding-top: 4rem;
}
.dash-todo-headline {
    font-size: 1.5rem;
    margin-top: 1.25rem;
    margin-bottom: 0;
}
.dash-date {
    text-align: center;
    margin-bottom: 2rem;
}
.dash-todo-main {
    margin-bottom: 7rem;
}
.todo-modal-info {
    font-size: .85rem;
    color: red;
}
input[type=text],
input[type=text]:enabled,
input[type=text]:focus,
input[type=text]:hover {
    border: none;
    border-bottom: 1px solid gray;
    background-color: beige;
    box-shadow: none;
    font-size: 1.5rem;
}
input[type=button],
input[type=submit] {
    font-size: 1.25rem;
    padding: .75rem;
}
.todo-input-btn {
    text-align: center;
    margin-bottom: .6rem;
}
.todo-input-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: darkblue;
}
.todo-input-body {
    font-size: 1.2rem;
}
.t-i {
    color: red;
}
.todo-footer {
    padding: 2rem 0;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .dash-todo-main {
        width: 100%;
        display: block;
    }
    .todo-card-main {
        width: 325px;
        margin-left: .5rem;
        overflow: auto;
        display: inline-block;
        vertical-align: top;
    }
    /* take out vertical align top if you want the cards to be even from the bottom area */
}
@media only screen and (min-width: 1024px) {
    .todo-card-main {
        width: 420px;
    }
}
